header{
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    position: relative;
    padding: 10%;
    gap: 50%;
    margin-left: -50%;
    font-size: 1.2em;
    
}

nav > a{
    position: relative;
    z-index: 1;
    color: aliceblue;
    text-decoration: none;
}

nav > a::after{
    content: "";
    position: absolute;
    width: 80%;
    margin-left: 8%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition:  transform .6s ease-out;
}

nav a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}